* {
    margin: 0;
    padding: 0;
}

:root {
    --riscOrange: #fc4512;
    --mainTextColor: #121212;
    --accentGrey: #808080;
    --offWhite: rgba( 255, 255, 255, 0.85);
}

/* BODY */

body {
    background-color: var(--offWhite);
}

/* NAV BAR */

.Nav {
    height: 10vh;

    padding: 8px 64px;

    background-color: var(--riscOrange);

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0;
}

.Nav a {
    color: var(--mainTextColor);
    text-decoration: none;
}

.Nav .rightSide {
    display: flex;
    gap: 32px;
}

/* HERO */

.Hero {
    height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* SEMINAR SECTION */

.SeminarSection {
    background: var(--accentGrey);

    height: 90vh;
}

.SeminarSection .cardSection {
    display: flex;
    overflow-x: scroll;
}

/* SEMINAR CARD */

.SeminarCard {

    width: 300px;

    padding: 32px;
    margin: 32px;

    border: 3px solid var(--riscOrange);
    border-radius: 16px;

    background-color: var(--offWhite);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.SeminarCard img {
    height: 144px;
    width: 256px;
}